*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.cursor-image {
    height: 400px;
    width: 400px;
    position: absolute;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    /* animation: cursorAnim 3s linear forwards; */
    /* filter: url(#filter1); */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -10;
    display: none;
    /* opacity: .2; */

    /* transition: all .5s linear; */
    /* opacity: 0; */
}

/* .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -9px;
    left: -9px;
    animation: cursorAnim2 .5s infinite alternate;
} */

/* @keyframes cursorAnim {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */



@keyframes cursorAnim2 {
    from {
        transform: scale(1);
        /* opacity: 1; */
    }
    to {
        transform: scale(.4);
        /* opacity: .2; */
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    /* border: 1px solid red; */
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
        /* opacity: 1; */
    }
    50% {
        transform: scale(1.5);
        /* opacity: .2; */
    }
    100% {
        transform: scale(1);
        opacity: 0;

    }
}

.text-container {
    font-size: 7rem;
    padding: 20px;
    /* background-color: aqua; */
}

.text-container span {
    text-decoration: underline;
}

.text-container span:hover {
    position: relative;
    color: brown;
    transform: scale(2);
}

.text__here--show {
    display: block;
    background-image: url(/img/n28-1.jpg);
}
.text__this--show {
    display: block;
    background-image: url(/img/n15-1.jpg);
}
.text__word--show {
    display: block;
    background-image: url(/img/n30-1.jpg);
}
